{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加
    </button>
    <button data-update data-field='is_del' data-value='1' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除
    </button>
</div>
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="title" value="{$Think.get.title|default=''}" placeholder="内容信息主题" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <select name="c_id" class="input-sm form-control">
                    {if !empty($content_category)}
                    <option value=0>请选择类型</option>
                    {volist name='content_category' id='val'}
                    <option value="{$val.id}" {if $Think.get.c_id eq $val.id}selected{/if}>{$val.ctitle}</option>
                    {/volist}
                    {/if}
                </select>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-center'>信息主题</th>
            <th class='text-center'>图片</th>
            <th class='text-center'>状态</th>
            <th class='text-center'>创建时间</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr class="tags" data-id="{$vo.id}">
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='text-center'>{$vo.title}</td>
            <td class='text-center'><img src="{$vo.img_path}" width="100" height="100" alt="{$vo.title}"></td>
            <td class='text-center'>
                {if $vo.status eq 0}
                <span style="color:#090">已启用</span>
                {else/}
                <span>已禁用</span>
                {/if}
            </td>
            <td class='text-center'>{$vo.create_date}</td>
            <td class='text-center nowrap'>
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">编辑</a>

                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'
                   href="javascript:void(0)">禁用</a>

                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'
                   href="javascript:void(0)">启用</a>

                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='is_del' data-value='1' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
<script>
    $(function() {
        $('.tags').mouseup(function() {
            var id = $(this).val();
            if(!id) {
                return false;
            }
            $.get("{:url('content/ajaxGetInfo')}", {id:id}, function (data) {
                if(data.code == 0) {
                    $
                }
            })
        });
    });
</script>
{/block}