<form class="layui-form layui-box" style='width:80%;height: 600px;padding:25px 30px 20px 0;' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">音乐名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入音乐名称" placeholder="请输入音乐名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">歌手</label>
        <div class="layui-input-block">
            <input type="text" name="author" value='{$vo.author|default=""}' required="required" title="请输入歌手名称" placeholder="请输入歌手名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <div style="position:relative">
            {if isset($vo['picture'])}
                <div class="uploadimage" style='background-image:url("{$vo['picture']}");background-repeat:no-repeat'><input type="hidden" name="picture" value="{$vo['picture']}"></div>
            {else /}
                <div class="uploadimage"><input type="hidden" name="cover"></div>
            {/if}
            <a data-file="one" data-field="picture" data-type="png,jpg" data-uptype="local" href="javascript:void(0)" class="uploadbutton">上传图片</a>
            </div>
        </div>
    </div>
    <style>
        video::-internal-media-controls-download-button {
            display:none;
        }

        video::-webkit-media-controls-enclosure {
            overflow:hidden;
        }

        video::-webkit-media-controls-panel {
            width: calc(100% + 30px);
        }
    </style>
    <div class="layui-form-item">
        <label class="layui-form-label">音乐试听</label>
        <div class="layui-input-block">
            <video src="{$vo.file_link|default=''}" height="35" width="200" controls="controls">
                您的浏览器不支持 video 标签。
            </video>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/><input type="hidden" name="updated_at" value="{:date('Y-m-d H:i:s')}">{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>

<script>
    $('[name="bg_img"]').on('change', function () {
        $(this).parent('.uploadimage').css('background-image', this.value).css('backgroundImage', 'url(' + this.value + ')').css('background-repeat', 'no-repeat');
    });
</script>
